.navbar {
    width: calc(100% - 40px);
    padding: 12px;
    background-color: rgb(153, 234, 240);
    display: flex;
    justify-content: space-between;
    margin: 12px;
    a {
        color: rgb(7, 97, 60);
        text-decoration: none;
        font-size: 18px;
        margin: 6px;
        transition: all 0.3s;
    }

    a:hover {
        color: rgb(30, 53, 117);
    }
}
