@tailwind base;
@tailwind components;
@tailwind utilities;

$border-color: #d5d0d0;
$odd-row-color: #fff;
$even-row-color: #e8f9fd;
$header-color: #9ce8f4;
$floating-filter-color: #e8f9fd;
$row-hover-color: rgba(33, 150, 243, 0.1);
$main-color: #eb2066;

body {
    font-family: 'K2D', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

a:active,
a:hover {
    transition: 750ms;
    color: $main-color;
}

.grid-button {
    margin-bottom: 10px;
    text-align: right;
}

.grid {
    .ag-root-wrapper {
        border-color: $border-color;
    }
    .ag-body-viewport {
        background: #f5f7f7;
    }
    .ag-header-row {
        background-color: $header-color;
        .ag-header-cell {
            border-right: 1px solid $border-color;
            .ag-header-cell-label {
                justify-content: center;
                .ag-header-cell-text {
                    font-weight: 600;
                    font-size: 14px;
                    color: #112b3c;
                }
            }
        }

        // .ag-header-cell:last-child {
        //     border-right: none;
        // }

        .ag-floating-filter {
            padding: 0 12px;
            background-color: $floating-filter-color;
            // .ag-floating-filter-button {
            //     display: none;
            // }

            input {
                min-height: 32px !important;
            }
        }
    }

    .ag-row {
        margin: -1px 0;
        border: none;
        border-bottom: 1px solid $border-color;

        .ag-cell {
            padding: 0 12px;
            border-right: 1px solid $border-color;
            align-items: center;
            font-weight: 400;
            font-size: 14px;

            .ag-cell-wrapper {
                .ag-group-value,
                .ag-group-child-count {
                    font-weight: 400;
                }
            }

            .grid-cell-image-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                .grid-cell-image {
                    width: 100px;
                }
            }
        }

        // .ag-cell:last-child {
        //     border-right: none;
        // }
    }

    .ag-row-hover {
        background-color: $row-hover-color !important;
    }

    .ag-row-odd {
        background-color: $odd-row-color;
    }

    .ag-row-even {
        background-color: $even-row-color;
    }

    .ag-root-wrapper {
        overflow-x: auto;
        overflow-y: auto;
    }
    .ag-theme-alpine
        .ag-ltr
        .ag-has-focus
        .ag-cell-focus:not(.ag-cell-range-selected) {
        border: none !important;
        border-color: none;
    }
    .ag-paging-panel {
        background-color: $floating-filter-color;
        border-top-color: $border-color;
    }
}

::-webkit-scrollbar {
    width: 8px; //dọc
    height: 8px; //ngang
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    opacity: 0.8;
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.nav-item:hover {
    color: $main-color;
}

.custom-button {
    background-color: $main-color;
    border: 1px solid $main-color;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    color: $main-color;
    background-color: #fff;
}

.custom-button.outlined {
    color: $main-color;
    background-color: #fff;
}

.custom-button.outlined:hover {
}

.ant-tabs-tab-active {
    color: $main-color !important;
    // outl-bottom: 1px solid $main-color;

    .ant-tabs-tab-btn {
        color: $main-color !important;
    }
}

.ant-tabs-tab:hover {
    color: $main-color;
}

.scroll {
    .css-mg2cnq-MuiButtonBase-root-MuiFab-root {
        background-color: $main-color;
        color: #fff;
    }
}

.pagination {
    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: $main-color;
    }
    .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
        background-color: $main-color;
    }
}

$bg-color: #0f172a;
$text-color: #fffff6;

.dashboard {
    .css-cvumne-MuiDrawer-docked {
        .MuiDrawer-paper {
            background-color: $bg-color;
            color: $text-color;
        }
    }

    .css-mkzahr-MuiListSubheader-root {
        background-color: $bg-color !important;
        color: $text-color !important;
    }

    .css-i4bv87-MuiSvgIcon-root {
        color: $text-color;
    }

    .MuiToolbar-root {
        .css-i4bv87-MuiSvgIcon-root {
            color: #778599;
        }
    }

    .css-10hburv-MuiTypography-root {
        font-size: 14px !important;
    }

    @media only screen and (min-width: 600px) {
        .css-aq1gdx-MuiDrawer-docked {
            .MuiDrawer-paper {
                background-color: $bg-color;
            }
        }
    }

    .css-11lq3yg-MuiGrid-root {
        background-color: #f1f5f9;
    }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-width: 800px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    max-height: 400px !important;
}
